<div class="content-align">

      <div class="table">
              <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Crypto Currency</th>
                          <th>Amount</th>
                          <th>Price</th>
                          <th>Sum</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Bitcoin</td>
                          <td>25</td>
                          <td>49021</td>
                          <td>X</td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Ether</td>
                          <td>32</td>
                          <td>10258</td>
                          <td>X</td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">IOTA</td>
                          <td>29</td>
                          <td>12359</td>
                          <td>X</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
      </div>