<div class="content-align">
  <div class="table">
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Crypto Currency</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Sum</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crypto of cryptoList">
          <td>{{crypto.name}}</td>
          <td>{{crypto.amount}}</td>
          <td>X</td>
          <td>X</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>