body {
        background-color: #EDEDED; 
    }
    
    .main-wrapper {
    display: flex;  
    flex-flow: column wrap;
    }
    
    .control-wrapper {
    /* background-color: lightgreen; */
    } 
    
    
    .content-wrapper {  
    /* margin: 20px;        */
     /* background-color: slateblue; */
    
        }
    
    .footer-wrapper {  
    /* background-color: lightgrey; */
        
            }