<div class="control-align">
    <div class="crypto-dropdown">
        <select [(ngModel)]="cryptoId" id="professsion2" name="professsion" (input)="onInput($event)">
            <option value=""></option>
            <option *ngFor="let crypto of cryptos" [ngValue]="crypto.id">{{crypto.name}}</option>
        </select>
        <label class="mdl-selectfield__label" for="professsion2">Crypto Currency</label>
    </div>

    <div class="amount-text-field">
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="inputAmount" [(ngModel)]="cryptoAmount" name="something">
                <label class="mdl-textfield__label" for="inputAmount">Amount</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
        </form>
    </div>
    <div class="add-button">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="onAddCryptoClick()">Add Crypto</button>
    </div>
</div>
